MITRA_BASE_URL=https://api0.mitraecp.com:1004
MITRA_TOKEN=Bearer <seu-token-jwt>
MITRA_AUTH_URL=https://coder.mitralab.io/sdk-auth/
MITRA_INTEGRATION_URL=https://api0.mitraecp.com:1003
MITRA_WORKSPACE_ID=2724
MITRA_PROJECT_ID=19983
