MITRA_BASE_URL=https://api.mitra.com
MITRA_TOKEN=seu-jwt-token-da-plataforma-mitra
MITRA_AUTH_URL=https://coder.mitralab.io/sdk-auth/
MITRA_INTEGRATION_URL=https://api0.mitraecp.com:1003
MITRA_PROJECT_ID=
