MITRA_BASE_URL=https://newmitra.mitrasheet.com:8080
MITRA_AUTH_URL=https://agent.mitralab.io/sdk-auth/
MITRA_INTEGRATION_URL=https://api2.mitrasheet.com:4334
MITRA_TOKEN=Bearer <seu-token-jwt>
MITRA_WORKSPACE_ID=
MITRA_PROJECT_ID=
